.total-order{
    background-color: azure;
}
.order-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px;
}
.growth{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.orders{
    color: green;
    font-weight: bold;
}
.growth p{
    font-weight: bold;
}
.revenue{
    color:chartreuse;
    font-weight: bold;
}
.followers{
    color: red;
    font-weight: bold;
}