.registration-div input{
    width: 80%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.089) ;
    border: none;
    border-radius: 8px;
    }


   /* icon color set */
   .googlesIconRegister{
    color: #4285F4;
   }
   .googlesIconRegister:hover{
    color: #DB4437;
   }
   .facebookIconRegister{
    color: #28589c;
   }
   .facebookIconRegister:hover{
    color: #1a57d1;
   }
   .githubIconRegister{
    color: #171515;
   }
   .githubIconRegister:hover{
    color: #3f3d3d;
   }
   /* end icon color set  */
    .google-div button{
        background: none;
        padding: 20px;
        border: none;
    }
    .facebooks-div button{
        background: none;
        padding: 20px;
        border: none;
    }
    .github-div button{
        background: none;
        padding: 20px;
        border: none; 
    }



/* CSS */
.registerButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.registerButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-registerButton 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-registerButton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.registerButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}