.our-class{
    font-weight: bold;
    color: red;
}
.class-span{
    color: red;
}
.seeSpan{
    color: red;
}
.moreClass{
    font-size: 20px;
    font-weight: bold;
}

.seeMoreLink a{
    text-decoration: none;
    color: black;
}